/* Réinitialisation de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles de l'en-tête */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

/* Section hero */
.hero {
    text-align: center;
    padding: 50px 20px;
    background: #f4f4f4;
}

.hero h1 {
    font-size: 36px;
}

.hero p {
    font-size: 18px;
    margin-top: 10px;
}

/* Section produits */
.products {
    padding: 50px 20px;
}

.products h2 {
    text-align: center;
    margin-bottom: 30px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
}

.product-card img {
    width: 70px; /* largeur de l'image */
    height: 70px; /* hauteur de l'image */
}


.product-card h3 {
    margin-top: 10px;
    font-size: 20px;
}

.product-card p {
    margin: 10px 0;
}

.product-card button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

/* Pied de page */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}


/* Media queries pour la réactivité */
@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
    }

    .product-list {
        grid-template-columns: 1fr;
    }
}
